$font-color: #000;
$font-color-white: #eeee;
$font-color-grey: #666;
$font-color-logo: #8ea0aa;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #999;
$background-color-white: #eee;
$background-color-dark: #111;
$background-alternative-color: #e0fbfc;
$footer-color: #222;
