{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="technologies">
            <h1 class="techno-h1">Länkar</h1>
            <div class="techno-link">
                <a href="css">CSS</a>
                <a href="html">HTML</a>
                <a href="javascript">JAVASCRIPT</a>
                <a href="php">PHP</a>
                <a href="python">PYTHON</a>
                <a href="git">GIT</a>
                <a href="sqlite">SQLITE</a>
            </div>
            <div class="techno-content">
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>